# ─────────────────────────────────────────────
#  JJK — Environment Variables
# ─────────────────────────────────────────────
# Copy this file to .env and fill in your keys

# OpenWeatherMap API Key (free at https://openweathermap.org/api)
WEATHER_API_KEY=b13252a0cf5e92c156dc50109e552597

# NewsData.io API Key (free at https://newsdata.io)
NEWS_API_KEY=pub_8c894cf929f74ed9956553f762d6db41
# Server Port (default 5000)
PORT=5000
